[safe]
    ; directory = *
[init]
	defaultBranch = main
[pager]
	branch = false
[push]
	autoSetupRemote = true
[user]
	name = Ben Saunders-Henning
[credential]
	helper = /usr/libexec/git/git-credential-libsecret
